@model Models.Entities.PlotModel;

<div class="nav-item w-25">
	<div class="text-light d-flex justify-content-between"><h3>Edytuj działkę</h3><a class="btn btn-danger text-light" href="/">X</a></div>
		<div >

			<form class="" method="post" action="/plot/@Model.Id/edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">
				<label for="city" class="text-white">Miejscowość</label>
				<input type="text" class="form-control" id="city" placeholder="Kraczkowa" name="City" value ="@Model.City">
			</div>
			<div class="form-group">
				<label for="area" class="text-white">Powierzchnia (ha)</label>
				<input type="text" class="form-control" id="area" placeholder="0.55" name="Area"  value ="@Model.Area">
                <span asp-validation-for="Area" class="text-danger"></span>
			</div>
            <div class="form-group">
				<label for="area" class="text-white">Uprawa</label>
				<input type="text" class="form-control" id="tillage" placeholder="Pszenica" name="Tillage"  value ="@Model.Tillage">
			</div>
			<div class="form-group">
				<label for="area" class="text-white">Prace</label>
				<textarea rows="5" rows="30" type="text" class="form-control" id="Note" name="Note"  value ="@Model.Note">
					@Model.Note
				</textarea>
			</div>
			<button type="submit" class="btn btn-primary my-2 align-self-center w-100" >Zapisz</button>
			</form>
		</div>
</div>