@using Models.Dtos
@{
    var result = ViewData["users"] as PagedResult<UserModel>;
    var roles = ViewData["roles"] as List<RoleModel>;
}

<div class="container d-flex flex-column justify-content-between" style="height: 80vh;">

        <div class="table-wrapper">
            <table class="table table-bordered table-light">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>Mobile Number</th>
                        <th>Address</th>
                        <th>Country</th>
                        <th>Created</th>
                        <th>Plots Count</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if(result is not null)
    {
                @foreach(var user in result.Items)
                {
                    <tr>
                        <td>@user?.FirstName</td>
                        <td>@user?.LastName</td>
                        <td>@user.Email</td>
                        <td>@user?.MobileNumber</td>
                        <td>@user?.Address</td>
                        <td>@user?.Country</td>
                        <td>@user.CreatedDate</td>
                        <td>@user.PlotsIds?.Count()</td>
                        @if(user.Roles.Count == 2){
                                                    <td>@roles?.FirstOrDefault(r => r.Id == user?.Roles[1])?.Name</td>
                        }
                        else
                        {
                                                    <td>@roles?.FirstOrDefault(r => r.Id == user?.Roles[0])?.Name</td>
                        }
    
                        <td class="d-flex justify-content-around">
                            <a href="/profile/@user.Id" class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-solid fa-edit"></i></a>
                            <a href="/users/@user.Id/delete" class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                }
    }

                </tbody>
            </table>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="mb-3 text-light">@result.ItemsFrom - @if(result.ItemsTo > result.TotalItemsCount){ @result.TotalItemsCount; }else{ @result.ItemsTo; } Total items: @result.TotalItemsCount Items</div>
    <div class="mb-3 text-light">Page: @(result.PageNumber) </div>
        <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="/users?pageNumber=@(result.PageNumber-1)&pageSize=@result.PageSize" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
            @for (int i = 0; i < result.TotalPages; i++)
            {
                <li class="page-item"><a class="page-link" href="/users?pageNumber=@(i+1)&pageSize=@result.PageSize">@(i+1)</a></li>
            } 

    <li class="page-item">
      <a class="page-link" href="/users?pageNumber=@(result.PageNumber+1)&pageSize=@result.PageSize" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
    </div>
    </div>


    <style>
        td{
            text-align: center;
        }
        a{
            text-decoration: none;
            color: black;
        }
    </style>