@{
    var users = ViewData["users"] as List<UserModel>;
    var roles = ViewData["roles"] as List<RoleModel>;
    var message = ViewData["message"] as string;
}

<div class="container">
    @if(message is not null)
    {
    <h3 class="text-light">@message</h3>
        
    }
    
        <div class="table-wrapper">
            <table class="table table-bordered table-light">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>Mobile Number</th>
                        <th>Address</th>
                        <th>Country</th>
                        <th>Created</th>
                        <th>Plots Count</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if(users is not null)
    {
                @foreach(var user in users)
                {
                    <tr>
                        <td>@user?.FirstName</td>
                        <td>@user?.LastName</td>
                        <td>@user.Email</td>
                        <td>@user?.MobileNumber</td>
                        <td>@user?.Address</td>
                        <td>@user?.Country</td>
                        <td>@user.CreatedDate</td>
                        <td>@user.PlotsIds?.Count()</td>
                            <td>@foreach(var role in user.Roles)
                                {
                                    <p>@roles.Where(r =>r.Id == role).Select(r => r.Name).FirstOrDefault()</p>
                                }
                            </td>
                        <td class="d-flex justify-content-a">
                            <a href="/profile/@user.Id" class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-solid fa-edit"></i></a>
                            <form method="post" action="/users/@user.Id/delete">
                                <button type="submit" href="" class="btn btn-sm" title="Delete" data-toggle="tooltip"><i class="fa fa-solid fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                }
    }

                </tbody>
            </table>
        </div>
    </div>

    <style>
        td{
            text-align: center;
        }
    </style>